<div class="pessoa-detalhes">
  <form (ngSubmit)="saveChanges()">
    <div>
      <strong>ID</strong>
      <input [(ngModel)]="data.id" name="id" disabled>
    </div>

    <div>
      <strong>Nome do cliente:</strong>
      <input [(ngModel)]="data.razao_social" name="razao_social" (ngModelChange)="onFieldChange()">
    </div>

    <div>
      <strong>Empresa:</strong>
      <input [(ngModel)]="data.nome_fantasia" name="nome_fantasia" (ngModelChange)="onFieldChange()">
    </div>

    <div>
      <strong>CPF:</strong>
      <input [(ngModel)]="data.cnpj_cpf" name="cnpj_cpf" (ngModelChange)="onFieldChange()">
    </div>

    <div>
      <strong>RG/IE:</strong>
      <input [(ngModel)]="data.rg_ie" name="rg_ie" (ngModelChange)="onFieldChange()">
    </div>

    <div>
      <strong>Data de Nascimento:</strong>
      <input type="date" [(ngModel)]="data.data_nascimento" name="data_nascimento" (ngModelChange)="onFieldChange()">
    </div>

    <div>
      <strong>Telefone:</strong>
      <input [(ngModel)]="data.telefone" name="telefone" (ngModelChange)="onFieldChange()">
    </div>

    <div>
      <strong>Celular:</strong>
      <input [(ngModel)]="data.celular" name="celular" (ngModelChange)="onFieldChange()">
    </div>

    <div>
      <strong>E-mail:</strong>
      <input [(ngModel)]="data.email" name="email" (ngModelChange)="onFieldChange()">
    </div>

    <div>
      <strong>Data de cadastro:</strong>
      <input type="datetime-local" [(ngModel)]="DataCadastro" name="data_cadastro" (ngModelChange)="onFieldChange()">
    </div>

    <div>
      <strong>Ultima alteração:</strong>
      <input type="datetime-local" [(ngModel)]="UltimaAlteracao" name="ultima_alteracao">
    </div>

    <button class="edit-button" type="submit" [disabled]="!formDirty">Salvar</button>
  </form>
</div>
