/* styles.css */

/* Estilo para o título */
h2 {
  color: #FFA500;
  margin-bottom: 20px; /* Adiciona espaçamento entre o título e o conteúdo */
}

/* Estilo para o contêiner de detalhes */
.pessoa-detalhes {
  background-color: #FFA500;
  color: #fff;
  padding: 35px;
  border-radius: 30px;
  line-height: 1.5; /* Espaçamento entre as linhas */
  max-width: 600px; /* Aumenta o tamanho da tela de visualização */
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
}

/* Estilo para o botão de edição */
.edit-button {
  display: block;
  align-items: center;
  align-content: center;
  background-color: #FFf;
  color: #FFA500;
  border: black;
  padding: 20px;
  align-self: center;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
}

/* Estilo para o botão de edição no hover (quando o mouse passa por cima) */
.edit-button:hover {
  background-color: #FFD700; /* Altera a cor no hover */
}
