/* cliente-detalhes.component.css */

/* Estilos para a visualização de detalhes do cliente */
.cliente-detalhes {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: left; /* Alinhar o texto à esquerda */
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
}

.cliente-detalhes h2 {
  color: #ff5722;
  font-size: 24px;
  margin-bottom: 20px;
}

.cliente-detalhes div {
  margin-bottom: 15px;
}

.cliente-detalhes strong {
  font-weight: bold;
}

.cliente-detalhes span {
  display: inline-block;
  margin-left: 10px; /* Adicionar margem à esquerda para separar os rótulos dos valores */
  font-size: 16px;
}
