<h2>Detalhes do Cliente</h2>

<div class="cliente-detalhes">
  <div>
    <strong>Nome Completo:</strong>
    <span>{{ data.fullName }}</span>
  </div>
  <div>
    <strong>E-mail:</strong>
    <span>{{ data.email }}</span>
  </div>
  <div>
    <strong>Telefone:</strong>
    <span>{{ data.phone }}</span>
  </div>
  <div>
    <strong>Data de Nascimento:</strong>
    <span>{{ data.birthdate | date }}</span>
  </div>
  <div>
    <strong>Número do Documento de Identidade:</strong>
    <span>{{ data.idNumber }}</span>
  </div>
  <div>
    <strong>Endereço:</strong>
    <span>{{ data.address }}</span>
  </div>
  <div>
    <strong>Numero:</strong>
    <span>{{ data.numero }}</span>
  </div>
  <div>
    <strong>Cidade:</strong>
    <span>{{ data.city }}</span>
  </div>
  <div>
    <strong>Estado:</strong>
    <span>{{ data.state }}</span>
  </div>
  <div>
    <strong>CEP:</strong>
    <span>{{ data.zipCode }}</span>
  </div>
  <div>
    <strong>Observações:</strong>
    <span>{{ data.notes }}</span>
  </div>
</div>
