<h2 style="color: #FFA500">Detalhes da Pessoa</h2>

<div class="pessoa-detalhes" style="background-color: #FFA500; color: #fff; padding: 15px; border-radius: 10px;">
  <div>
    <strong>Nome do cliente:</strong>
    <span>{{ data.razao_social }}</span>
  </div>

  <div>
    <strong>Empresa:</strong>
    <span>{{ data.nome_fantasia }}</span>
  </div>

  <div>
    <strong>CPF:</strong>
    <span>{{ data.cnpj_cpf }}</span>
  </div>

  <div>
    <strong>RG/IE:</strong>
    <span>{{ data.rg_ie }}</span>
  </div>

  <div>
    <strong>Data de Nascimento:</strong>
    <span>{{ data.data_nascimento | date: 'dd/MM/yyyy' }}</span>
  </div>

  <div>
    <strong>Telefone:</strong>
    <span>{{ data.telefone }}</span>
  </div>

  <div>
    <strong>Celular:</strong>
    <span>{{ data.celular }}</span>
  </div>

  <div>
    <strong>E-mail:</strong>
    <span>{{ data.email }}</span>
  </div>
</div>
