<button mat-icon-button color="warn" *ngIf="authService.isAuthenticated()" (click)="toggleSidenav()">
  <mat-icon>menu</mat-icon>
</button>

<mat-sidenav-container class="sidenav-container">
  <!-- Navbar retrátil, exibida apenas se o usuário estiver autenticado -->
  <mat-sidenav *ngIf="authService.isAuthenticated()" #sidenav mode="side" opened="true" class="sidenav">
    <!-- Conteúdo da navbar -->
    <ul>
      <li><a routerLink="/home">Página Inicial</a></li>
      <mat-divider></mat-divider>
      <li><a routerLink="/cadastro-cliente">Cadastro de Cliente</a></li>
      <mat-divider></mat-divider>
      <li><a routerLink="/lista-cliente">Listagem de Cliente</a></li>
      <mat-divider></mat-divider>
      <li><a routerLink="/cadastro-acomodacoes">Cadastro de Acomodações</a></li>
      <mat-divider></mat-divider>
      <li><a routerLink="/lista-quartos">Listagem de Acomodações</a></li>
      <mat-divider></mat-divider>
      <li><a routerLink="/calendario">Calendário</a></li>
      <mat-divider></mat-divider>
      <li><a routerLink="/reserva">Fazer Reserva</a></li>
      <mat-divider></mat-divider>
      <li><a routerLink="/procura-reserva">Procurar Reserva</a></li>
      <mat-divider></mat-divider>
      <li><a routerLink = "/" (click)="logout()">Sair</a></li>
      <mat-divider></mat-divider>
    </ul>
  </mat-sidenav>



  <!-- Conteúdo principal -->
  <mat-sidenav-content>
    <div class="main-content">
      <!-- Conteúdo principal do aplicativo -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
