<div class="home-container">
  <h2>Bem-Vindo ao Hotel XYZ</h2>
  <p>Sua casa longe de casa</p>

  <div class="image-container">
    <img src="assets/Photos/Background.jpg" alt="Hotel XYZ" />
  </div>

  <p>
    Nosso hotel oferece acomodações de luxo e serviços excepcionais para tornar a
    sua estadia inesquecível.
  </p>

  <p>
    Explore nossos quartos confortáveis, desfrute de refeições deliciosas em nosso
    restaurante e aproveite as comodidades exclusivas que temos a oferecer.
  </p>

  <p>
    Seja uma viagem de negócios ou lazer, estamos aqui para atender a todas as suas
    necessidades e garantir que você tenha uma experiência excepcional.
  </p>
</div>
